Binaries
DerivedDataCache
Intermediate
Saved
Plugins

Config
*.ini
Config/DefaultEngine.ini
Config/EditorLayout.ini


.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.DS_Store
*.gitattributes
